.header {
  background-color: #fff;
  text-align: center;
  padding: 165px 15px 125px;
}
.header__title {
  margin-bottom: 19px;
}
.header__description {
  margin-bottom: 39px;
  span {
    color: $accent-color;
    font-weight: 600;
  }
}