header.header
  h1.header__title Ты готов стать профессионалом?
  p.header__description Мы ищем
    span &nbsp;талантов
    | &nbsp;и
    span &nbsp;саппортов
    | &nbsp;в команду. Решите на какую категорию вы претендуете. 
  a(href='#').header-button
    | +
    span &nbsp;Заполнить анкету
